{% extends 'base.html' %}
{% block meta %}
    <title>Manajemen Atraksi</title>
{% endblock meta %}

{% block content %}
{% load static %}
{% include 'components/navbar.html' %}

<div class="container mx-auto px-4 py-8">
    <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-md overflow-hidden">
        <div class="md:flex">
            <div class="md:flex-shrink-0 bg-[#6F826A] text-white p-8 md:w-64">
                <div class="text-center">
                    <h2 class="mt-4 text-xl font-semibold">Manajemen Atraksi</h2>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}