{% extends 'base.html' %}
{% block meta %}
    <title>Manajemen Atraksi</title> 
{% endblock meta %}

{% block content %}
{% load static %}
{% include 'components/navbar.html' %}

<div class="bg-[#F0F1C5] p-8 m-8 rounded-2xl shadow-md">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-8 bg-[#6F826A] py-8 px-6 rounded-2xl">
        <h1 class="text-3xl font-bold mb-4 md:mb-0 text-white">Atraksi</h1>
        <div class="flex space-x-4">
            <input type="text" id="searchInput" placeholder="Search..." class="px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-300">
            <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold" onclick=bukaModalAtraksi()>
                Add Atraksi
            </button>
        </div>
    </div>

    <div class="flex justify-end mb-4">
        <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold">
            Filter
        </button>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-yellow-50 rounded-xl overflow-hidden">
            <thead class="bg-[#6F826A] text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Nama</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Lokasi</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Kapasitas</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jadwal</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Hewan Terlibat</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Pelatih</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Aksi</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for atraksi in data_atraksi %}
                <tr class="border-t">
                    <td class="px-6 py-4">{{ atraksi.nama_atraksi }}</td>
                    <td class="px-6 py-4">{{ atraksi.lokasi }}</td>
                    <td class="px-6 py-4">{{ atraksi.kapasitas }}</td>
                    <td class="px-6 py-4">{{ atraksi.jadwal }}</td>
                    <td class="px-6 py-4">
                        <ul class="list-disc list-inside">
                            {% for hewan in atraksi.hewan_terlibat %}
                                <li>{{ hewan }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="px-6 py-4">{{ atraksi.pelatih }}</td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-2">                            
                            <button  
                                data-nama="{{ atraksi.nama_atraksi }}" 
                                data-lokasi="{{ atraksi.lokasi }}" 
                                data-kapasitas="{{ atraksi.kapasitas }}" 
                                data-jadwal="{{ atraksi.jadwal }}" 
                                data-pelatih="{{ atraksi.pelatih }}" 
                                data-hewan="{{ atraksi.hewan_terlibat|join:',' }}" 
                                onclick="openEditModal(this)">
                                ✏️
                            </button>
                            <button onclick="confirmDelete('{{ atraksi.nama_atraksi }}', 'atraksi')">🗑️</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'components/atraksi/modal_tambah_atraksi.html' %}
{% include 'components/atraksi/modal_edit_atraksi.html' %}
{% include 'components/confirm_delete.html' %}

<!-- Scripts -->
<script>
    // Filter hasil dari search
    document.getElementById('searchInput').addEventListener('input', function() {
    const filter = this.value.toLowerCase();
    const rows = document.querySelectorAll('tbody tr');

    rows.forEach(row => {
        // Ambil nama wahana dari kolom pertama
        const nama = row.querySelector('td:first-child').textContent.toLowerCase();

        // Jika cocok, tampilkan barisnya, kalau tidak sembunyikan
        if (nama.includes(filter)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
        });
    });

    function bukaModalAtraksi() {
        document.getElementById('modalAddAtraksi').classList.remove('hidden');
        document.getElementById('modalAddAtraksi').classList.add('flex');
    }

    function tutupModalAtraksi() {
        document.getElementById('modalAddAtraksi').classList.remove('flex');
        document.getElementById('modalAddAtraksi').classList.add('hidden');
    }

    function openEditModal(element) {
        const nama = element.getAttribute('data-nama');
        const lokasi = element.getAttribute('data-lokasi');
        const kapasitas = element.getAttribute('data-kapasitas');
        const jadwal = element.getAttribute('data-jadwal');
        const pelatih = element.getAttribute('data-pelatih');
        const hewanList = element.getAttribute('data-hewan').split(',');

        document.getElementById('edit_nama_atraksi').value = nama;
        document.getElementById('edit_lokasi').value = lokasi;
        document.getElementById('edit_kapasitas').value = kapasitas;
        document.getElementById('edit_jadwal').value = jadwal;

        const pelatihList = element.getAttribute('data-pelatih').split(',');
        const selectPelatih = document.getElementById('edit_pelatih');
        for (let option of selectPelatih.options) {
            option.selected = pelatihList.includes(option.value);
        }

        const select = document.getElementById('edit_hewan_terlibat');
        for (let option of select.options) {
            option.selected = hewanList.includes(option.value);
    }

    document.getElementById('modalEditAtraksi').classList.remove('hidden');
    document.getElementById('modalEditAtraksi').classList.add('flex');
    }

    function tutupModalEditAtraksi() {
        document.getElementById('modalEditAtraksi').classList.remove('flex');
        document.getElementById('modalEditAtraksi').classList.add('hidden');
    }
   
</script>

{% endblock content %}
