{% extends 'base.html' %}
{% block meta %}
<title>Reservasi Atraksi</title> 
{% endblock meta %}

{% block content %}
{% load static %}
{% include 'components/navbar.html' %}

<div class="bg-[#F0F1C5] p-8 m-8 rounded-2xl shadow-md">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-8 bg-[#6F826A] py-8 px-6 rounded-2xl">
        <h1 class="text-3xl font-bold mb-4 md:mb-0 text-white">Reservasi Atraksi</h1>
        {% if roles == "pengunjung" %}
        <div class="flex space-x-4">
            <input type="text" placeholder="Search..." class="px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-300">
            <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold" onclick="openModalAddReservasi()">+ Reservasi Atraksi</button>
            <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold" onclick="openModalAddReservasiWahana()">+ Reservasi Wahana</button>
        </div>
           
        {% endif %}
    </div>
    <div class="flex justify-end mb-4">
        <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold">
            Filter
        </button>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-yellow-50 rounded-xl overflow-hidden">
            <thead class="bg-[#6F826A] text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Nama Atraksi</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Lokasi</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jam</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Tanggal</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jumlah Tiket</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Status</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Aksi</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for reservasi in data_reservasi %}
                <tr class="border-t">
                    <td class="px-6 py-4">{{ reservasi.nama_atraksi }}</td>
                    <td class="px-6 py-4">{{ reservasi.lokasi }}</td>
                    <td class="px-6 py-4">{{ reservasi.jam }}</td>
                    <td class="px-6 py-4">{{ reservasi.tanggal | date:"j F Y" }}</td>
                    <td class="px-6 py-4">{{ reservasi.tiket }}</td>
                    <td class="px-6 py-4">{{ reservasi.status }}</td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-2">
                            <button onclick="openEditModalReservasi(this)" 
                                data-nama="{{ reservasi.nama_atraksi }}" 
                                data-lokasi="{{ reservasi.lokasi }}" 
                                data-jam="{{ reservasi.jam }}" 
                                data-tanggal="{{ reservasi.tanggal }}" 
                                data-tiket="{{ reservasi.tiket }}"
                                class="text-blue-600 hover:text-blue-800 text-xl">✏️</button>
                            <button onclick="confirmCancelModal('{{ reservasi.nama_atraksi }}', 'reservasi')" >🗑️</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'components/reservasi/modal_tambah_reservasi_atraksi.html' %}
{% include 'components/reservasi/modal_tambah_reservasi_wahana.html' %}
{% include 'components/reservasi/modal_edit_reservasi_atraksi.html' %}
{% include 'components/confirm_cancel.html' %}

{% endblock content %}
