{% extends 'base.html' %}
{% block meta %}
<title>Reservasi Atraksi</title> 
{% endblock meta %}

{% block content %}
{% load static %}
{% include 'components/navbar.html' %}
<input type="hidden" id="roleDetector" value="{{ roles }}"></div>
<div class="bg-[#F0F1C5] p-8 m-8 rounded-2xl shadow-md">
    {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                {% if 'reservasi' in message.tags %}
                    <div class="mb-4 px-4 py-3 rounded-lg 
                        {% if 'success' in message.tags %}bg-green-100 text-green-800 border border-green-300
                        {% else %}bg-red-100 text-red-800 border border-red-300
                        {% endif %}">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-8 bg-[#6F826A] py-8 px-6 rounded-2xl">
        <h1 class="text-3xl font-bold mb-4 md:mb-0 text-white">Reservasi</h1>
        
        <div class="flex space-x-4">
            <input type="text" id="searchInput" placeholder="Search..." class="px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-300">
            {% if roles == "pengunjung" %}
            <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold" onclick="openModalAddReservasi()">+ Reservasi Atraksi</button>
            <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg font-semibold" onclick="openModalAddReservasiWahana()">+ Reservasi Wahana</button>
            {% endif %}
        </div>

    </div>
    <!-- Tab Switcher -->
    <div class="flex mb-4 space-x-4">
        {% if roles == "pengunjung" %}
        <button id="tab-fasilitas" onclick="showTab('fasilitas')" class="px-4 py-2 rounded-lg font-semibold bg-green-600 text-white hover:bg-green-700">Semua Fasilitas</button>
        {% endif %}
        <button id="tab-semua" onclick="showTab('semua')" class="px-4 py-2 rounded-lg font-semibold bg-gray-300 text-gray-800 hover:bg-green-700">Semua Reservasi</button>
        <button id="tab-atraksi" onclick="showTab('atraksi')" class="px-4 py-2 rounded-lg font-semibold bg-gray-300 text-gray-800 hover:bg-green-700">Reservasi Atraksi</button>
        <button id="tab-wahana" onclick="showTab('wahana')" class="px-4 py-2 rounded-lg font-semibold bg-gray-300 text-gray-800 hover:bg-green-700">Reservasi Wahana</button>
    </div>

    {% if roles == "pengunjung" %}
    <div id="tab-content-fasilitas" class="overflow-x-auto">
        <table class="min-w-full bg-yellow-50 rounded-xl overflow-hidden">
            <thead class="bg-[#6F826A] text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jenis Reservasi</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Nama Fasilitas</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Tanggal</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Kapasitas Tersedia</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for fasilitas in data_reservasi_fasilitas %}
                <tr  class="border-t">
                    <td class="px-6 py-4">{{ fasilitas.jenis }}</td>
                    <td class="px-6 py-4">{{ fasilitas.nama }}</td>
                    <td class="px-6 py-4">{{ fasilitas.tanggal }}</td>
                    <td class="px-6 py-4">{{ fasilitas.kapasitas_tersedia }}</td>
                    <td class="px-6 py-4 text-center text-blue-500 hover:text-blue-900">
                        {% if fasilitas.tiket_tersedia > 0 %}
                        <button onclick="openModal(this, 'add')" 
                            data-jenis="{{ fasilitas.jenis }}" 
                            data-nama="{{ fasilitas.nama }}" 
                            data-tanggal="{{ fasilitas.tanggal }}" 
                            data-jam="{{ fasilitas.jam }}"
                            data-lokasi-or-peraturan="{{ fasilitas.lokasi_or_peraturan }}">Pesan Tiket</button>
                        {% else %}
                        <span class="text-gray-400">Pesan Tiket</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div id="tab-content-semua" class="overflow-x-auto">
        <table class="min-w-full bg-yellow-50 rounded-xl overflow-hidden">
            <thead class="bg-[#6F826A] text-white"> 
                <tr>
                    {% if roles == "admin" %}
                    <th class="px-6 py-3 text-left text-sm font-semibold">Username Pengunjung</th>
                    {% endif %}
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jenis</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Nama Fasilitas</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Tanggal</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jumlah Tiket</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Status</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Aksi</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for reservasi in data_reservasi %}
                <tr class="border-t cursor-pointer hover:bg-yellow-100" 
                data-jenis="{{ reservasi.jenis_reservasi }}" 
                data-nama="{{ reservasi.nama_fasilitas }}" 
                data-lokasi-or-peraturan="{{ reservasi.lokasi_or_peraturan }}" 
                data-jam="{{ reservasi.jam }}" 
                data-tanggal="{{ reservasi.tanggal }}"  
                data-tiket="{{ reservasi.tiket }}"
                data-status="{{ reservasi.status }}"
                data-username="{{ reservasi.username_p }}"
                onclick="openModal(this, 'details')">
                    {% if roles == "admin" %}
                    <td class="px-6 py-4">{{ reservasi.username_p }}</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ reservasi.jenis_reservasi }}</td>
                    <td class="px-6 py-4">{{ reservasi.nama_fasilitas }}</td>
                    <td class="px-6 py-4">{{ reservasi.tanggal }}</td>
                    <td class="px-6 py-4">{{ reservasi.tiket }}</td>
                    <td class="px-6 py-4">{{ reservasi.status }}</td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-2">
                            <button event.stopPropagation();  onclick="openModal(this, 'edit')"
                                data-jenis="{{ reservasi.jenis_reservasi }}" 
                                data-nama="{{ reservasi.nama_fasilitas }}" 
                                data-lokasi-or-peraturan="{{ reservasi.lokasi_or_peraturan }}" 
                                data-jam="{{ reservasi.jam }}" 
                                data-tanggal="{{ reservasi.tanggal }}" 
                                data-tiket="{{ reservasi.tiket }}"
                                data-status="{{ reservasi.status }}"
                                data-username="{{ reservasi.username_p }}"
                                class="text-blue-600 hover:text-blue-800 text-xl">✏️</button>
                            <button onclick="confirmCancelModal('{{ reservasi.nama_fasilitas }}', '{{ reservasi.tanggal }}', '{{ reservasi.username_p }}')" >🗑️</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tab-content-atraksi" class="hidden overflow-x-auto">
        <table class="min-w-full bg-yellow-50 rounded-xl overflow-hidden">
            <thead class="bg-[#6F826A] text-white">
                <tr>
                    {% if roles == "admin" %}
                    <th class="px-6 py-3 text-left text-sm font-semibold">Username Pengunjung</th>
                    {% endif %}
                    <th class="px-6 py-3 text-left text-sm font-semibold">Nama Atraksi</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Lokasi</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jam</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Tanggal</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jumlah Tiket</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Status</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Aksi</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for reservasi in data_reservasi_atraksi %}
                <tr class="border-t">
                    {% if roles == "admin" %}
                    <td class="px-6 py-4">{{ reservasi.username_p }}</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ reservasi.nama_fasilitas }}</td>
                    <td class="px-6 py-4">{{ reservasi.lokasi }}</td>
                    <td class="px-6 py-4">{{ reservasi.jam }}</td>
                    <td class="px-6 py-4">{{ reservasi.tanggal }}</td>
                    <td class="px-6 py-4">{{ reservasi.tiket }}</td>
                    <td class="px-6 py-4">{{ reservasi.status }}</td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-2">
                            <button onclick="openEditModalReservasi(this)" 
                                data-nama="{{ reservasi.nama_fasilitas }}" 
                                data-lokasi="{{ reservasi.lokasi }}" 
                                data-jam="{{ reservasi.jam }}" 
                                data-tanggal="{{ reservasi.tanggal }}" 
                                data-tiket="{{ reservasi.tiket }}"
                                data-status="{{ reservasi.status }}"
                                data-username="{{ reservasi.username_p }}"
                                class="text-blue-600 hover:text-blue-800 text-xl">✏️</button>
                            <button onclick="confirmCancelModal('{{ reservasi.nama_fasilitas }}', '{{ reservasi.tanggal }}', '{{ reservasi.username_p }}')" >🗑️</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tab-content-wahana" class="hidden overflow-x-auto">
        <table class="min-w-full bg-yellow-50 rounded-xl overflow-hidden">
            <thead class="bg-[#6F826A] text-white"> 
                <tr>
                    {% if roles == "admin" %}
                    <th class="px-6 py-3 text-left text-sm font-semibold">Username Pengunjung</th>
                    {% endif %}
                    <th class="px-6 py-3 text-left text-sm font-semibold">Nama Wahana</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Peraturan</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jam</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Tanggal</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Jumlah Tiket</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold">Status</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold">Aksi</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for reservasi in data_reservasi_wahana %}
                <tr class="border-t">
                    {% if roles == "admin" %}
                    <td class="px-6 py-4">{{ reservasi.username_p }}</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ reservasi.nama_fasilitas }}</td>
                    <td class="px-6 py-4">
                        <ol class="list-decimal list-inside">
                            {% for peraturan in reservasi.peraturan %}
                                <li>{{ peraturan }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td class="px-6 py-4">{{ reservasi.jam }}</td>
                    <td class="px-6 py-4">{{ reservasi.tanggal }}</td>
                    <td class="px-6 py-4">{{ reservasi.tiket }}</td>
                    <td class="px-6 py-4">{{ reservasi.status }}</td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-2">
                            <button onclick="openEditModalReservasiWahana(this)" 
                                data-nama="{{ reservasi.nama_fasilitas }}" 
                                data-peraturan="{{ reservasi.peraturan|join:'; ' }}" 
                                data-jam="{{ reservasi.jam }}" 
                                data-tanggal="{{ reservasi.tanggal }}" 
                                data-tiket="{{ reservasi.tiket }}"
                                data-status="{{ reservasi.status }}"
                                data-username="{{ reservasi.username_p }}"
                                class="text-blue-600 hover:text-blue-800 text-xl">✏️</button>
                            <button onclick="confirmCancelModal('{{ reservasi.nama_fasilitas }}', '{{ reservasi.tanggal }}', '{{ reservasi.username_p }}')" >🗑️</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% include 'components/reservasi/modal_tambah_reservasi_atraksi.html' %}
{% include 'components/reservasi/modal_tambah_reservasi_wahana.html' %}
{% include 'components/reservasi/modal_edit_reservasi_atraksi.html' %}
{% include 'components/reservasi/modal_edit_reservasi_wahana.html' %}

{% include 'components/confirm_cancel.html' %}
{% include 'components/reservasi/modal_detail_reservasi_atraksi.html' %}
{% include 'components/reservasi/modal_detail_reservasi_wahana.html' %}

<script>
    // Filter hasil dari search
    document.getElementById('searchInput').addEventListener('input', function() {
    const filter = this.value.toLowerCase();
    const rows = document.querySelectorAll('tbody tr');
    const isAdmin = document.getElementById('roleDetector').value === 'admin';
    const startIndex = isAdmin ? 3 : 2; 
    rows.forEach(row => {
        // Ambil nama wahana dari kolom pertama
        const nama = row.querySelector(`td:nth-child(${startIndex})`).textContent.toLowerCase();

        // Jika cocok, tampilkan barisnya, kalau tidak sembunyikan
        if (nama.includes(filter)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
        });
    });
    
    function showTabAdmin(tab) {
        const tabs = {
            atraksi: document.getElementById('tab-content-atraksi'),
            wahana: document.getElementById('tab-content-wahana'),
            semua: document.getElementById('tab-content-semua')
        };

        const buttons = {
            atraksi: document.getElementById('tab-atraksi'),
            wahana: document.getElementById('tab-wahana'),
            semua: document.getElementById('tab-semua')
        };

        // Sembunyikan semua tab dan reset style tombol
        for (const key in tabs) {
            tabs[key].classList.add('hidden');
            buttons[key].classList.remove('bg-green-600', 'text-white');
            buttons[key].classList.add('bg-gray-300', 'text-gray-800');
        }

        tabs[tab].classList.remove('hidden');
        buttons[tab].classList.add('bg-green-600', 'text-white');
        buttons[tab].classList.remove('bg-gray-300', 'text-gray-800');
    }

    function showTab(tab) {
        const isAdmin = document.getElementById('roleDetector').value === 'admin';
        if (isAdmin) {
            showTabAdmin(tab);
            return;
        }
        const tabs = {
            fasilitas: document.getElementById('tab-content-fasilitas'),
            atraksi: document.getElementById('tab-content-atraksi'),
            wahana: document.getElementById('tab-content-wahana'),
            semua: document.getElementById('tab-content-semua')
        };

        const buttons = {
            fasilitas: document.getElementById('tab-fasilitas'),
            atraksi: document.getElementById('tab-atraksi'),
            wahana: document.getElementById('tab-wahana'),
            semua: document.getElementById('tab-semua')
        };

        // Sembunyikan semua tab dan reset style tombol
        for (const key in tabs) {
            tabs[key].classList.add('hidden');
            buttons[key].classList.remove('bg-green-600', 'text-white');
            buttons[key].classList.add('bg-gray-300', 'text-gray-800');
        }

        // Tampilkan tab terpilih dan ubah style tombol aktif
        tabs[tab].classList.remove('hidden');
        buttons[tab].classList.add('bg-green-600', 'text-white');
        buttons[tab].classList.remove('bg-gray-300', 'text-gray-800');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const params = new URLSearchParams(window.location.search);
        const isAdmin = document.getElementById('roleDetector').value === 'admin';
        if (isAdmin) {
            const tab = params.get('tab') || 'semua'; 
            showTab(tab);
        } else {
            const tab = params.get('tab') || 'fasilitas'; 
            showTab(tab);
        }
    });

    function openModal(item, type) {
        console.log("Opening modal");
        if (type === 'edit') {
            const jenis = item.getAttribute('data-jenis');
            if (jenis === 'Atraksi') {
                openEditModalReservasi(item); 
            } else if (jenis === 'Wahana') {
                openEditModalReservasiWahana(item); 
            }
        } else if (type === 'details') {
            const jenis = item.getAttribute('data-jenis');
            if (jenis === 'Atraksi') {
                showDetailsAtraksi(item);
            } else if (jenis === 'Wahana') {
                showDetailsWahana(item);
            }
        } else if (type === 'add') {
            const jenis = item.getAttribute('data-jenis');
            if (jenis === 'Atraksi') {
                document.getElementById('namaAtraksiSelect').value = item.getAttribute('data-nama') || '';
                const select = document.getElementById('namaAtraksiSelect');
                const selectedOption = select.options[select.selectedIndex];
                document.getElementById('lokasiAtraksi').value = selectedOption.getAttribute('data-lokasi') || '';
                document.getElementById('jamAtraksi').value = selectedOption.getAttribute('data-jam') || '';
                document.getElementById('tanggalAtraksi').value = item.getAttribute('data-tanggal') || '';
                openModalAddReservasi();
            } else if (jenis === 'Wahana') {
                document.getElementById('namaWahanaSelect').value = item.getAttribute('data-nama') || '';
                const select = document.getElementById('namaWahanaSelect');
                const selectedOption = select.options[select.selectedIndex];
                const peraturan = selectedOption.getAttribute('data-peraturan') || '';
                const peraturanArray = peraturan.split(';');
                const tampilkanPeraturan = peraturanArray.map((item, index) => `${index + 1}. ${item.trim()}`).join('\n');
                document.getElementById('tampilanPeraturanTambahWahana').value = tampilkanPeraturan;
                document.getElementById('peraturanWahana').value = peraturan;
                document.getElementById('jamWahana').value = selectedOption.getAttribute('data-jam') || '';
                document.getElementById('tanggalWahana').value = item.getAttribute('data-tanggal') || '';
                openModalAddReservasiWahana();
            }
        }
    }
</script>

{% endblock content %}
