{% extends 'base.html' %}
{% block meta %}
  <title>Form Perpanjangan Periode Adopsi Hewan</title>
  <style>
    :root {
      --primary-color: #4A5A43;
      --primary-light: #8EAF7B;
      --accent-color: #A7C796;
      --text-color: #333;
      --light-bg: #f8f9fa;
      --card-shadow: 0 8px 20px rgba(0,0,0,0.12);
    }
    body { background: var(--light-bg); color: var(--text-color); font-family: 'Poppins', sans-serif; }
  </style>
{% endblock meta%}

{% block content %}
{% include 'components/navbar.html' %}
{% load static %}

<div class="flex justify-center py-12 px-4">
  <div class="bg-white rounded-xl shadow-lg w-full max-w-xl">
    <input type="hidden" name="id_adopter" value="{{id_adopter}}" readonly/>
    {% if is_individual %}
    <form id="form-individu"
          method="post"
          action="{% url 'adopsi:extend_adoption' hewan_id tgl_mulai %}"
          class="{% if not is_individual %}hidden{% endif %}">
      {% csrf_token %}
      <div class="bg-[#A7C796] pt-6 rounded-t-xl text-white text-center">
        <h2 class="text-xl text-center font-semibold mb-2 text-var(--primary-color)">Form Perpanjangan Periode Adopsi</h2>
      </div>
    <div class="px-4">
      <p class="text-[#bf9264]">Pihak di bawah ini,</p>
      <div class="space-y-2">
          <div>
          <label class="block text-[#bf9264] font-medium">Nama</label>
          <input
              type="text"
              name="nama_depan"
              value="{{ adp.individu_nama }}" readonly
              readonly
              class="mt-1 w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100"
          />
          </div>
          <div>
          <label class="block text-[#bf9264] font-medium">NIK</label>
          <input
              type="text"
              name="nik"
              value="{{ adp.nik }}"
              readonly
              class="mt-1 w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100"
          />
          </div>

          <div>
          <label class="block text-[#bf9264] font-medium">Alamat</label>
          <input type="text" name="alamat" value="{{ pengunjung.alamat }}" readonly
                  class="w-full bg-gray-100 border rounded px-3 py-2" />
          </div>
          <div>
          <label class="block text-[#bf9264] font-medium">No. Telepon</label>
          <input type="text" name="no_telepon" value="{{ pengguna.no_telepon }}" readonly
                  class="w-full bg-gray-100 border rounded px-3 py-2" />
          </div>
      </div>
        
      <p class="mt-4 text-[#bf9264] ">dengan ini menyatakan kepedulian dan minat untuk mengadopsi secara simbolis satwa:</p>
      <div class="grid grid-cols-2 gap-4">
          <div>
          <label class="block text-[#bf9264] font-medium">Nama Hewan</label>
          <input
              type="text"
              name="nama_hewan"
              value="{{ hewan.nama_hewan }}"
              readonly
              class="mt-1 w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100"
          />
          </div>
          <div>
          <label class="block text-[#bf9264] font-medium">Jenis Hewan</label>
          <input
              type="text"
              name="jenis_hewan"
              value="{{ hewan.spesies }}"
              readonly
              class="mt-1 w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100"
          />
          </div>
      </div>
        
      <p class="mt-4 text-[#bf9264]">Adopter juga bersedia memberikan kontribusi finansial kepada pihak taman safari sebagai dukungan untuk pemeliharaan satwa dengan: </p>
      <div class="grid grid-cols-2 gap-4">
          <div>
          <label class="block text-[#bf9264] font-medium">Nominal (Rp)</label>
          <input
              type="number"
              name="kontribusi_finansial"
              placeholder="Nominal"
              class="mt-1 w-full border border-gray-300 rounded-lg px-3 py-2"
          />
          </div>
          <div>
          <label class="block text-[#bf9264] font-medium">Memperpanjang Adopsi Selama</label>
          <select
              name="periode"
              class="mt-1 w-full border border-gray-300 rounded-lg px-3 py-2"
          >
              <option value="3">3 bulan</option>
              <option value="6">6 bulan</option>
              <option value="12">12 bulan</option>
          </select>
          </div>
      </div>
      
      <div class="mt-6 flex justify-end space-x-4 pb-6">
          <button
          type="button"
          id="btn-cancel-individu"
          class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300"
          >
          Batal
          </button>
          <button
          type="submit"
          class="px-4 py-2 bg-[#4A5A43] text-white rounded hover:bg-[#8EAF7B]"
          >
          Submit Form
          </button>
      </div>
    </div>
    </form>

    {% else %}
    <form id="form-organisasi"
        method="post"
        action="{% url 'adopsi:extend_adoption' hewan_id tgl_mulai%}"
        class="{% if is_individual %}hidden{% endif %}">
    {% csrf_token %}
    <div class="bg-[#A7C796] pt-6 rounded-t-xl text-white text-center">
        <h2 class="text-xl font-semibold mb-2">Form Perpanjangan Periode Adopsi</h2>
    </div>

    <div class="px-4 space-y-4">
        <p class="text-[#bf9264]">Pihak di bawah ini, selaku organisasi/perusahaan</p>
        <div class="space-y-2">
        <div>
            <label class="block text-[#bf9264] font-medium">Nama Organisasi</label>
            <input name="nama_organisasi" value="{{ adp.nama_organisasi }}" readonly
                class="mt-1 block w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100" />
        </div>
        <div>
            <label class="block text-[#bf9264] font-medium">NPP</label>
            <input name="npp" value="{{ adp.npp }}" readonly
                class="mt-1 block w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100" />
        </div>

        <div>
          <label class="block text-[#bf9264] font-medium">Alamat</label>
          <input type="text" name="alamat_organisasi" value="{{ pengunjung.alamat }}" readonly
                  class="w-full bg-gray-100 border rounded px-3 py-2" />
        </div>
        <div>
            <label class="block text-[#bf9264] font-medium">Kontak</label>
            <input type="text" name="kontak" value="{{ pengguna.no_telepon }}" readonly
            class="w-full bg-gray-100 border rounded px-3 py-2" />
        </div>
        </div>

        <p class="mt-4 text-[#bf9264]">
        dengan ini menyatakan kepedulian dan minat untuk mengadopsi secara simbolis satwa:
        </p>
        <div class="grid grid-cols-2 gap-4">
        <div>
            <label class="block text-[#bf9264] font-medium">Nama Hewan</label>
            <input name="nama_hewan"
                value="{{ hewan.nama_hewan }}"
                readonly
                class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-lg px-3 py-2" />
        </div>
        <div>
            <label class="block text-[#bf9264] font-medium">Jenis Hewan</label>
            <input name="jenis_hewan"
                value="{{ hewan.spesies }}"
                readonly
                class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-lg px-3 py-2" />
        </div>
        </div>

        <p class="mt-4 text-[#bf9264]">
            Adopter juga bersedia memberikan kontribusi finansial kepada pihak taman safari sebagai dukungan untuk pemeliharaan satwa dengan:
        </p>
        <div class="grid grid-cols-2 gap-4">
        <div>
            <label class="block text-[#bf9264] font-medium">Nominal (Rp)</label>
            <input name="kontribusi_finansial" type="number" placeholder="Nominal"
                class="mt-1 block w-full border border-gray-300 rounded-lg px-3 py-2" />
        </div>
        <div>
            <label class="block text-[#bf9264] font-medium">Memperpanjang Adopsi Selama</label>
            <select name="periode"
                    class="mt-1 block w-full border border-gray-300 rounded-lg px-3 py-2">
            <option value="3">3 bulan</option>
            <option value="6">6 bulan</option>
            <option value="12">12 bulan</option>
            </select>
        </div>
        </div>

        <div class="mt-6 flex justify-end space-x-4 pb-6">
        <button type="button"
                id="btn-cancel-organisasi"
                class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">
            Batal
        </button>
        <button type="submit"
                class="px-4 py-2 bg-[#4A5A43] text-white rounded hover:bg-[#8EAF7B]">
            Submit Form
        </button>
        </div>
    </div>
    </form>
    {% endif %}
  </div>
</div>

<script>
  const backUrl = "{% url 'adopsi:update_adoption' id_adopter hewan_id tgl_mulai %}";
  {% if is_individual %}
    document.getElementById('btn-cancel-individu')
      .addEventListener('click', () => {
        window.location.href = backUrl;
      });
  {% else %}
    document.getElementById('btn-cancel-organisasi')
      .addEventListener('click', () => {
        window.location.href = backUrl;
      });
  {% endif %}
</script>
{% endblock content %}